<div class="row justify-content-center mt-3">
  <div class="col-12 col-md-12 col-lg-8">
    <div class="input-group mb-3">
      <input type="text" spellcheck="false" class="form-control shadow-none">
      <button class="btn btn-dark shadow-none" type="button">Search</button>
    </div>
  </div>
</div>